<div class="container mt-5">
 <div class="row"></div>

<h3>商品新規登録</h3>

<%= form_with model: @item, ulr:admin_items_path, local: true do |f| %>
<table>
 <tr>
  <td>商品画像</td>
  <td><%= f.file_field :image, accept: "image/*" %></td>
 </tr>

 <tr>
  <td>商品名</td>
  <td><%= f.text_field :name, placeholder: "商品名" %></td>
  </tr>

  <tr>
   <td>商品説明</td>
   <td><%= f.text_area :body, placeholder: "ここに説明文を記述します" %></td>
  </tr>

  <tr>
   <td>ジャンル</td>
   <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %></td>
  </tr>

  <tr>
   <td>税抜価格</td>
   <td><%= f.text_field :price, placeholder: "1000" %>円</td>
  </tr>

  <tr>
   <td>販売ステータス</td>
   <td>
    <%= f.radio_button :is_sale, :true %>
    <%= f.label :is_sale, "販売中" %>
    <%= f.radio_button :is_sale, :false %>
    <%= f.label :is_sale, "販売停止中" %>
   </td>
  </tr>

  <tr>
   <td><%= f.submit '新規登録', class: "btn btn-success" %></td>
  </tr>
  <% end %>
</table>
 </div>
</div>

