<div class='container-fould mt-5'>
  <div class='row'>
    <div class='col-md-2 offset-md-2'>
        <h3 class="mt-8 mb-5"><span class="back"><strong>商品詳細</strong></span></h3>
    </div>
  </div>

  <div class='row'>
   <div class='col-md-3 offset-md-1'>
    <div><%= image_tag @item.get_item_image(300, 300) %></div>
   </div>
   <div class='col-md-5 offset-md-1'>
    <table style="width: 500px;">
     <tr class="item-table">
      <td><strong>商品名</strong></td>
      <td><%= @item.name %></td>
     </tr>
     <tr class="item-table">
      <td>商品説明</td>
      <td><%= @item.body %></td>
     </tr>
     <tr class="item-table">
      <td>ジャンル</td>
      <td><%= @item.genre.name %></td>
     </tr>
     <tr class="item-table-price">
      <td>税込価格<br>(税抜価格)</td>
      <td><%= @item.tax_incluted_price.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</td>
     </tr>
     <tr class="item-table">
      <td>販売ステータス</td>
      <td>
       <% if @item.is_sale %>
       <span style="color: #37a34a;"><strong>販売中</strong></span>
       <% elsif %>
       <span style="color: #a9a9a9;"><strong>販売停止中</strong></span>
       <% end %>
      </td>
     </tr>
    </table>
   </div>
  </div>
  <div class="button">
    <%= link_to "編集する", edit_admin_item_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<style>
 .item-table {
  line-height: 2.0;
 }

 .item-table-price {
  line-height: 1.5;
 }
 .button{
  text-align: center;
  margin-top: 20px;
 }
</style>
