<div class="container-field">
  <div class="row">
    <div class="col-2 offset-1 mt-5">
      <h3>注文履歴詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mr-3">
      <h4>注文情報</h4>
       <table>
         <tr>
           <td>注文日</td>
           <td><%= @order.create_at %></td>
         </tr>
         <tr>
           <td>配送先</td>
           <td>
             <%= @order.post_code %><br>
             <%= @order.address %><br>
             <%= @order.name %>
            </td>
         </tr>
         <tr>
           <td>支払方法</td>
           <td><%= @order.ayment_method_i18n %></td>
         </tr>
         <tr>
           <td>ステータス</td>
           <td><%= @order.status %></td>
         </tr>
       </table>

       <div class="col-3 mr-3">
         <h4>請求情報</h4>
         <table>
           <tr>
             <td>商品合計</td>
             <td><%=  %></td>
           </tr>
           <tr>
             <td>配送料</td>
             <td><%= @order.shipping_fee %></td>
           </tr>
           <tr>
             <th>ご請求金額</th>
             <td><%= @order.billing_amount %></td>
           </tr>
         </table>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-7 mr-3">
      <h4>注文内容</h4>
      <table>
        <tr>
          <td>商品</td>
          <td>単価(税込)</td>
          <td>個数</td>
          <td>小計</td>
        </tr>
        <%= @order.each do |order| %>
        <tr>
          <td><%= order.cart.item.name %></td>
          <td><%= order.cart.item.tax_incluted_price %></td>
          <td><%= order.cart.amount %></td>
          <td><%= order.cart.item.tax_incluted_price*cart.amount %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>