<div class="container">
  <div class="row">
    <div class="col-lg-2 mt-4 p-0">
      <div class="card headline">
        <h6 class="card-header text-center">ジャンル</h6>
        <% @genres.each do |genre| %>
          <li class="list-group-item border-0">
            <%= genre.name %>
          </li>
        <% end %>
      </div>
    </div>
  <div class="container">
    <div class="row">
     <%= image_tag item.get_item_image(500, 500), size: "150x150", class: "w-100 rounded" %>
    </div>
    <h3><strong><%= @item.name %></strong></h3>
    <h4><%= simple_format(@item.body)%></h4>
      <%  if @item.is_sale == true %>
        <p class="text-success">販売中</p>
        <h3>¥ <%= tax_incluted_price( @item.tax_incluted_price ) %> <small>(税込)</small></h3>
        <p>
          <%= form_with model: @cart_item, local: true do |f| %>
            <%= f.hidden_field :item_id, :value @item.id %>
            <%= f.number_field :amount, in: 1..99, placeholder: "個数を選択" %>
            <%= f.submit "カートに入れる", class: "btn btn-success" %>
          <% end %>
        </p>
      <% else %>
        <h3 class="text-danger">売り切れ</h3>
      <% end %>
    </div>
  </div>
</div>
