<div class="container">
  <div class="row mx-auto">
    <%= render 'public/homes/genre', genres: @genres %>
    <div class="col-lg-5 mt-4 pl-5 text-center">
      <% if @item.errors.any? %>
        <%= @item.errors.count %>件のエラーが発生しました
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= image_tag @item.get_item_image(500, 500), size: "350x250", class: "rounded" %>
    </div>
    <div class="col-lg-5 mt-4 pl-4">
      <h3><strong><%= @item.name %></strong></h3>
      <h4><%= simple_format(@item.body)%></h4>
      <% if @item.is_sale == true %>
        <p class="text-success">販売中</p>
        <h3>¥ <%= @item.tax_incluted_price %> <small>(税込)</small></h3>
        <% if current_customer %>
          <p class="mt-5">
            <%= form_with model: @cart_item, local: true do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.select :amount, *[1..10] %>
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            <% end %>
          </p>
        <% else %>
          <%= link_to "ログインはこちらから", new_customer_session_path %>
        <% end %>
      <% else %>
        <h3 class="text-danger">販売停止中</h3>
      <% end %>
    </div>
  </div>
</div>
